{{define "docente/formPage"}}

{{ template "Header" }}
{{ template "Menu" }} 
{{ . }}

<div class="title">
  {{if .IsEdit }}Update{{else}}Create{{end}} 
</div>
 

<form method="POST">
  <input type="hidden" nombre="id_docente" value="{{ .Data.Id_docente }}" />
  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      <input class="input" type="text" placeholder="nombre" nombre="Nombre" value="{{ .Data.Nombre }}" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Curso_acargo</label>
    <div class="control">
      <input class="input" type="text" placeholder="curso_acargo" nombre="Curso_acargo" value="{{ .Data.Curso_acargo }}" required>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <input type="submit" value="Save user" class="button is-primary"/>
    </div>
    
  </div>



</form><br />    
{{ template "Footer" }}
{{end}}