{{ define "Menu" }}

<div class="text-center" stylesheet="">


<a href="/" class="btn btn-primary" role="button">HOME</a> 
<a href="/login" class="btn btn-primary" role="button">login</a> 
<a href="/employee/index" class="btn btn-primary" role="button">employee</a> 
<a href="/alumno/index" class="btn btn-primary" role="button">alumno</a> 
<a href="/matricula/index" class="btn btn-primary" role="button">Matricula</a> 
<a href="/user/index" class="btn btn-primary" role="button">Usuarios</a>


<a href="/rol/index" class="btn btn-primary" role="button">Rol</a> 
<a href="/persona/index" class="btn btn-primary" role="button">Personas</a>

<a href="/logout" class="btn btn-danger" role="button">SALIR</a>


</div>



{{ end }}