{{define "usuario/formPage"}}

{{ template "Header" }}
{{ template "Menu" }} 
<!-- {{ . }} -->

<div class="title">
  {{if .IsEdit }}Update{{else}}Crear Nuevo USUARIO{{end}}
</div>
 

<form method="POST" class="mt-4 ml-5">
  <input type="hidden" name="id" value="{{ .Data.Id }}" />
  <div class="field">
    <label class="label">Nombres</label>
    <div class="control">
      <input class="form-control" type="text" placeholder="Nombres completos" name="nombres" value="{{ .Data.Nombres }}" required>
    </div>
  </div>

  <div class="field mt-4">
    <label class="label">Rol</label>
    <div class="control">
      <input class="form-control" type="text" placeholder="Que rol cumple" name="rol" value="{{ .Data.Rol }}">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control mt-3">
      <button type="submit" value="Save user" class="btn btn-success">Guardar</button>
      
</div>
    </div>
    
  </div>



</form><br />    
{{ template "Footer" }}
{{end}}

