{{ define "Menu" }}

<div class="text-center" stylesheet="">


<a href="/" class="btn btn-primary" role="button">HOME</a> 
<a href="/alumno/index" class="btn btn-primary" role="button">Alumno</a> 
<a href="/docente/index" class="btn btn-primary" role="button">Docente</a> 
<a href="/curso/index" class="btn btn-primary" role="button">Curso</a> 
<a href="/matricula/index" class="btn btn-primary" role="button">Matricula</a> 

</div>



<br> 
{{ end }}