{{ define "Menu" }}
<a href="/">HOME</a> | 

<a href="/alumno/index">Alumno</a>| 
<a href="/docente/index">Docente</a>| 
<a href="/curso/index">Curso</a>| 
<a href="/administrador/index">Administrador</a>| 
<a href="/matricula/index">Matricula</a>| 

<a href="/ingresoadmi/index">Ingresar Administrador</a>| 

<br> 
{{ end }}